@import "~node_modules/modern-normalize/modern-normalize.css";
@font-face {
  font-family: PlayfairDisplay;
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Prata;
  font-display: swap;
  src: url("../fonts/Prata-Regular.woff2") format("woff2"), url("../fonts/Prata-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: PlayfairDisplay;
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

body {
  color: #555248;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.container {
  width: 100% x;
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    width: 768px;
  }
}
@media screen and (min-width: 1366px) {
  .container {
    padding-left: 98px;
    padding-right: 98px;
    width: 1366px;
  }
}
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-style {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  padding-top: 35px;
  padding-bottom: 26px;
}

.header.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
}

.site-nav {
  margin-left: 266px;
  display: flex;
  align-items: center;
  gap: 65px;
}

.site-nav__link {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #262421;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link :focus {
  color: #d4b098;
}

.icons-list {
  display: flex;
  align-items: center;
  gap: 23px;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-button {
  position: relative;
  width: 21px;
  height: 21px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.counter {
  position: absolute;
  top: -5px;
  left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13px;
  height: 13px;
  background-color: #d4b098;
  border-radius: 6.5px;
}
.counter__text {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.125;
}

.icons-button .button:hover,
.button:focus {
  color: #444240;
}
.icons-button .button:hover svg,
.button:focus svg {
  fill: inherit;
}