$primary-text-color: #555248;
$secondary-text-color: #ffffff;
$bg-color: #ffffff;
$bg-color-primary: #f7f5ef;
$bg-color-secondary: #fdfdfb;
$bg-card-color: #fdfdfb;
$title-text-color: #1b1a17;
$btn-color: #ffffff;
$btn-bg-color-grey: #444240;
$btn-bg-color-brown: #d4b098;
$accent-color: #d4b098;
$time: 250ms;
$function-animation: cubic-bezier(0.4, 0, 0.2, 1);
$font-family-primary: Roboto, sans-serif;
$font-family-secondary: PlayfairDisplay, sans-serif;
$font-family-thirty: Prata, sans-serif;
