.contacts {
  padding-top: 31px;
  padding-bottom: 30px;

  @include tablet {
    padding-top: 81px;
    padding-bottom: 90px;
  }
}
.contacts .container {
  @include tablet {
    display: flex;
    align-items: center;
    gap: 31px;
  }

  @include desktop {
    gap: 71px;
  }
}

.text-container {
  padding-top: 40px;
  @include tablet {
    padding-top: 40px;
  }
  @include desktop {
    padding-top: 140px;
  }
}
.text-container__title {
  font-size: 24px;
  line-height: 1.34;
  margin-bottom: 20px;

  @include tablet {
    font-size: 32px;
    margin-bottom: 40px;
  }
}

.text-container__text {
  width: 290px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.69;
  margin-bottom: 18px;

  @include tablet {
    width: 376px;
    font-size: 16px;
    margin-bottom: 58px;
  }
  @include desktop {
    margin-bottom: 118px;
  }
}

.text-container__link {
  font-family: inherit;
  color: #262421;
  transition: color $time $function-animation;
}

.text-container__link:hover,
.text-container__link:focus {
  color: $accent-color;
}

.social-list {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
  display: flex;
  align-items: center;
  gap: 18px;
}

.social-list__link {
  color: $primary-text-color;
  transition: color $time $function-animation;
}

.social-list__link svg {
  transition: stroke $time $function-animation;
  stroke: currentColor;
}

.social-list__link:hover,
.social-list__link:focus {
  color: $btn-bg-color-brown;
}

.social-list__link:hover,
.social-list__link:focus svg {
  stroke: currentColor;
}

.img-gallery {
  @include desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

.img-gallery__block {
  @media screen and (min-width: 768px) and (max-width: 1365px) {
    display: none;
  }
}

.img-gallery__img {
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
  @include tablet {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.img-gallery__img--margin-bottom {
  margin-bottom: 10px;
}

.img-gallery__img--big {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
